#james{
    background-color:rgb(50, 50, 60);
    color:rgb(0, 0, 0);
box-sizing: 50px;
width: 200px;

}

#boz{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background-color:aqua;
    height:100px;
  
   
}
